<div class="ids-grid-2" style="margin: 20px">
  <form [formGroup]="form" style="margin: 20px">
    <div style="margin-bottom: 20px; font-weight: bold">
      <p>Digite seu JSON</p>
    </div>
    <mat-form-field>
      <mat-label>----------------</mat-label>
      <textarea
        matInput
        (change)="onTextAreaChange($event)"
        autoResize
        cols="30"
      ></textarea>
    </mat-form-field>
  </form>

  <div class="">
    <div style="margin-bottom: 20px; font-weight: bold">
      <p>Seu JSON ficará assim</p>
    </div>
    <pre><code>{{ expectedJsonOutputFormatted }}</code></pre>
  </div>
</div>
