<div class="ids-col-4 ids-card -variant">
  <p>Digite seu JSON</p>
  <form [formGroup]="form" class="form">
    <mat-form-field>
      <textarea
        matInput
        (change)="onTextAreaChange($event)"
        class="card-width"
        autoResize
        cols="30"
        formControlName="autoResize"
      ></textarea>
    </mat-form-field>
  </form>
</div>

<div class="ids-col-4 ids-card -variant">
  <p>Seu JSON ficará assim</p>
  <pre><code>{{ expectedJsonOutputFormatted }}</code></pre>
</div>
