<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * O conteúdo abaixo * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * é apenas um exemplo * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * e pode ser substituído. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Exclua o modelo abaixo * * * * * * * * * * * * -->
<!-- * * * * * * * * * para começar seu projeto! * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

  MODAL Segments-->
  
  <!-- MODAL Segments-->
  <!-- MODAL Dependências-->
  <!-- MODAL Exemplos-->
  <!-- MODAL Segments-->
  
  <!-- MODAL Dependências-->

  <div class="ids-container-fluid containter-margin">
    <p>Digite seu JSON</p>
    <div class="ids-row">
      <div class="ids-col-4 ids-card -variant">
  
        <form [formGroup]="form">
          <ids-form-control>
            <textarea
              (change)="onTextAreaChange($event)"
              class="card-width"
              autoResize
              idsField
              cols="30"
            ></textarea>
          </ids-form-control>
        </form>

      </div>
      <div  class="ids-col-4 ids-card -variant">

        <div style="margin-bottom:20px;">
          <p>Seu JSON ficará assim</p>
        </div>
        <pre><code>{{ saidaEsperadaString }}</code></pre>
      </div>
  
      <div class="ids-col-4 ids-col-sm-8 ids-col-md-4 ids-card -variant card-width'">
          
        <form [formGroup]="form" autocomplete="off">
          <div *ngFor="let propriedade of jsonData">
            {{propriedade.rotulo}}
            <div *ngIf="propriedade.tipo_dado === 'array'">
              <ids-form-field *ngFor="let item of propriedade.conteudo"
                label=""
                description="array {{item.rotulo}}"
                errorMessage="o preenchimento do nome é obrigatório"
              >
                <input 
                  idsInput
                  id="array.{{propriedade.contrato}}.{{item.contrato}}"
                  (change)="onChangeDynamicForm($event)"
                 />
              </ids-form-field>
            </div>
            <ids-form-field *ngIf="propriedade.tipo_dado === 'string'"
              label="{{propriedade.rotulo}}"
              description=""
              errorMessage="o preenchimento do nome é obrigatório"
            >
              <input 
                idsInput
                id="{{propriedade.contrato}}"
                formControlName="requiredWithHelper"
                (change)="onChangeDynamicForm($event)"
               />
            </ids-form-field>
          </div>
        </form>


      </div>
    </div>
  </div>
  